* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

/* HEADER------------------------- */

header {
    width: 100%;
    max-width: 2000px;
    height: auto;
    /* background-color: #3695FF; */
    background-image: url("../images/trat.png");
}

.top_block {
    background-color: #194277;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu {
    display: block;
    position: absolute;
    left: 75%;
    top: 10%;
    cursor: pointer;
}

.top_block_text {
    color: #ffffff;
    margin-right: 3%;
    margin: 1rem;
}

.top_block_botton button {
    color: #194277;
    background-color: #ffffff;
    margin: 1rem;
    padding: 3% 25%;
    border-radius: 25px;
    border: none;
}

.photo_user {
    margin: 0 auto;
    margin-top: 4rem;
    background-color: white;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.zagolovok {
    text-align: center;
    margin: 0 auto;
    margin-top: 5rem;
    color: #ffffff;
    font-size: 3rem;
    width: 59%;
}

.slide {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    height: 40px;
}
.header_text {
    width: 56%;
    text-align: center;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.767);
    margin-top: 2rem;
}

.hidden {
    display: none;
}


.HIREME {
    display: block;
    margin: 0 auto;
    border: none;
    margin-top: 50px;
    width: 13%;
    padding: 10px;
    border-radius: 25px;
    color: #194277;
}

/* WHITE BLOCK---------------- */

.buttom_header {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin-top: 80px;
}

.buttom_header_zagolovok {
    color: #3695FF;
    font-size: 3rem;
    text-align: center;
    padding-top: 40px;
}

.buttom_header_text {
    width: 65%;
    margin: 0 auto;
    margin-top: 30px;
    color: black;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 70px;
}


/* EXPERT---------------- */

.expert {
    width: 100%;
    max-width: 2000px;
    height: auto;
    background-color: #F1F8FF;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.expert_zagolovok {
    text-align: center;
    color: #3695FF;
    margin-top: 2%;
    font-size: 3rem;
    margin-bottom: 4rem;
}

.expert_top_block {
    width: 60%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.top_block_1, .top_block_2, .top_block_3 {
    width: 23%;
    min-width: 200px;
}

.item img {
    margin: 0 auto;
    display: block;
    width: 66%;
    height: auto;
}

.item h4 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #3677FD;
    width: 100%;
}

.item p {
    text-align: center;
    color: #5A5A5A;
}

.expert_botton_block {
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* -------- block 4 -------- */
.block_3 {
    min-width: 100vw;
    min-height: 100vh;
    padding-bottom: 3%;
}


.block_3__title {
    text-align: center;
    padding: 7% 0;
    margin: 0 auto;
    font: lighter 50px/32px 'Lato', Arial, Helvetica, sans-serif;
    background: -webkit-linear-gradient(#3695FF, #3564FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards {
    width: 85%;
    margin: 3% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card__item {
    padding-bottom: 5%;
}

/* ---- medium screen ---- */
@media only screen and (min-width: 65rem) {
    .card__item {
        padding: 0%;
    }
  } 

  /* --------- end of 4 block --------- */
/*section5*/
.bloсk_5{
    display: flex;
    flex-direction: column;
    background-color: #F1F8FF;
    padding-top: 95px;
    width: 100%;
    max-width: 2000px;
}
.bloсk_5_img{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 2000px;
    justify-content: space-evenly;
    padding-bottom: 95px;
    flex-wrap: wrap;
}
.bloсk_5_head{
    padding-top: 95px;
    text-align: center;
    font-family: "Lato";
    font-size: 50px;
    font-weight: 400;
    color: #3695FF;
    padding-bottom: 70px;
}
.block_6_foot{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 2000px;
    height: 250px;
    background: linear-gradient(45deg, #84a0ff, #0987c2);
    font-family: "Lato";
    flex-wrap: wrap;
}
.block_6_foot_txt{
    font-size: 50px;
    font-weight: lighter;
    color: white;
}
.block_6_foot_txt_txt{
    font-weight: 400;
}
/*button*/
.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
  .floating-button:hover {
    background: #378ab1;
    box-shadow: 0 15px 20px rgba(3, 99, 143, 0.4);
    color: white;
    transform: translateY(-7px);
  } 

